@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
.color__pink__texts {
  /* algunos titulos y textos envueltos en span*/
  color: #d400ff;
}
.animation--letters{
  display: inline-block;
  margin: -4px;
  cursor: pointer;
  position: relative;
  transition:0.4s ease-out;
}
.animation--letters:hover{
  animation: textfocus  1s ease;
  color:#12FF00  ;
  filter: drop-shadow(#12FF00 0px 0px 4px);
}
.img-logo{

  top: -22px;
  margin: 4px;
}
@keyframes textfocus  {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.container{
  display: flex;
  justify-content: space-around;
}

.btn{
  display: inline-block;
  text-align: center;
  width: 44px;
  height: 44px;
  background: #f1f1f1;
  border-radius: 50%;
  color: #bc4ed8;
  overflow: hidden;
  position: relative;
}
.btn i {
  font-size: 22px;
  line-height: 2.2;
  transition: 0.5s linear;
}
.btn:hover i{
  transform: scale(1.2);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 146%;
  background: #7f00b2;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;

}
.btn:hover::before {
  animation: pounce 2s ;
  top: -10%;
  left: -10%;
}

@keyframes pounce {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}



/* inicio animacion */
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
  background-color: #201F33;
  transition: 3s ease;
}
.intro__logo {
  top: 130px;
  position: absolute;
}
.intro__logo--scoter {
  filter: drop-shadow(0px 0px 5px #ffffff);
}

.text__logo {
  font-size: 2rem;
  color: white;
}
.text__logo--parts {
  position: relative;
  display: inline-block;
  bottom: 40px;
  opacity: 0;
}
.text__logo--parts.active {
  bottom: -50px;
  opacity: 1;
  transition: ease-in-out 1s;
}

.text__logo--parts.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 1s;
}
::-webkit-scrollbar {
  /*oculta la barra de desplazamiento*/
  display: none;
}
/* final animacion  */

/* HEADER */
header,
.navbar,
.logo,
.texto-carrusel-home,
.texto-carrusel-tutorial,
.texto1,
.iconos-prev-next {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  color: #ffffff;
  background-color: #201F33;
  justify-content: space-evenly;
  padding: 3vh 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.titulo-logo {
  font-size: 2.5rem;
}

.img-logo {
  width: 35px;
  height: 35px;
}

.navbar {
  justify-content: space-between;
  width: 50vw;
}

.navbar > li {
  padding: 0 5px;
}
.whatsapp {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  width: 55px;
  height: 55px;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}
.corazon {
animation: latidos 1s infinite;
}

/* MAIN */
.text_shadow{
  text-shadow: #000000 0px 0px 6px;
}

/* Home */
.home,
#tutorial {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3vw;
  background-image: linear-gradient(90deg, #7f00b2 0%, #bc4ed8 100%);
}

.texto-carrusel-home,
.texto-carrusel-tutorial,
.img-carrusel {
  height: 500px;
  margin: 1.5vw;
}

.texto-carrusel-home,
.texto-carrusel-tutorial {
  background-image: url("../images/bg-1.png");
  background-position: center;
  background-size: 600px 565px;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 540px;
  justify-content: center;
}
.background--white {
  background-image: url("../images/bg-2.png");
  background-position: center;
  background-size: 520px 400px;
  background-repeat: no-repeat;
  color: #000000;
  font-weight: 700;
}
.background--white-2 {
  background-image: url("../images/bg-3.png");
  background-position: center;
  background-size: 580px 500px;
  background-repeat: no-repeat;
  color: #000000;
  font-weight: 700;
}

.texto-carrusel-carrusel img {
  height: 100px;
  width: 100px;
}

.texto1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 85%;
  width: 50%;
  padding-left: 3vw;
}
.textour {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: 85%;
  width: 50%;
  padding-left: 3vw;
}
.texto-carrusel-carrusel {
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 47%;
}
.texto1 h2 {
  font-size: 1.7rem;
}

.boton {
  color: #ffffff;
  background-color: #bc4ed8;
  text-decoration: none;
  padding: 6% 16%;
  border-radius: 25px;
  transition: 1s ease;
  font-weight: 600;
}
.boton:hover {
  color: #000000;
  text-decoration: none;
  padding: 6% 16%;
  border-radius: 25px;
  background-color: #ffffff;
  background-image:none;
}

.img-carrusel {
  border-radius: 20%;
}

.img-carrusel img {
  height: 100%;
  border-radius: 20%;
}

#tutorial {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff);
  flex-direction: row-reverse;
}

.img-scooter-tutorial img {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 0;
}
/* Fin de Home */

.carousel-control-prev {
  color: #ffffff;
  text-decoration: none;
  background-color: #18181a;
}

.carousel-control-next {
  color: #18181a;
  background-color: #ffffff;
}

i {
  font-size: 20px;
}

.caracteristicas {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(90deg, #7f00b2 0%, #bc4ed8 100%);
  padding: 22px 0;
}
.contactbg {
  width: 50%;
  background-image: url(../images/bg-2.png);
  background-position: center;
}

.caracteristicas__image {
  width: 480px;
  transition: 1s ease-in-out;
}
.design__image{
  height: 500px;
  max-width: 100%;
  transition: 1s ease-in-out;
}
.caracteristicas__image:hover {
  filter: drop-shadow(0px 0px 18px #ffffff);
}
.design__image:hover{
  filter: drop-shadow(0px 0px 18px #ffffff);
}
.caracteristicas--white {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
}

/*start footer section*/
.footer {
  width: 100%;
  background-color: #201F33;
  color: #ffffff;
  height: auto;
  border-top: 10px solid #ffffff;
  padding: 60px 12px 32px 12px;
}
.footer__section {
  /*secciones del footer aplicar en mobile*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.section__column {
  max-width: 25%;
  min-width: 200px;
  color: #ffffff;
  transition: .5s ease-in-out;
}

.section__title {
  margin-bottom: 12px;
}

.map_text a {
  display: flex;
  gap: 3%;
  margin: 0 0 12px 0;
}

.social_icon ul {
  display: flex;
  gap: 4%;
}

.hover_pink{
  transition: 0.4s ease-in-out;
}
.hover_pink:hover{
  color: #df61ff;
}
.Subscribe_text {
  margin-top: 12px;
  border-radius: 6px;
  padding: 12px 16px;
  width: 120px;
  height: 40px;
  background-color: #d400ff;
  transition: .5s ease-in-out;
}

.Subscribe_text:hover  {
  background-color: #ffffff;
  transition: .5s ease-in-out;
}
.Subscribe_text:hover a  {
  color: #000000;
  transition: .5s ease-in-out;
}
.container__border {
  margin-top: 22px;
  padding-top: 22px;
  border-top: #ffffff 4px solid;
  text-align: center;
}
/*end footer section*/

@media screen and (max-width: 840px) {
    .texto-section {
        padding-left: 6vw;
    }

  .footer {
    padding-left: 40px;
  }
  .footer__section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
}
@media screen and (max-width: 720px) {
  .navbar {
    width: 35vw;
  }
  .caracteristicas__image {
    max-width: 480px;
    height: 500px;
  }
  .design__image{
    display: block;
    /* width: auto; */
    height: auto;
  }
  .texto1{
    width: 60%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
 }

}
@media screen and (max-width: 640px) {
  .texto-section{
        padding-left: 8vw;
    }
  .textour{
    padding-left: 5vw;
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    width: 90vw;
  }
  .design__image{
    width: 480px;
  }
  .texto1{
    width: 100%;

 }
}

