@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
  
}
/* inicio animacion */
.intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 6;
  background-color: rgb(0, 0, 0);
  transition: 2s;
}
.intro__logo{
  top: 90px;
  position: absolute;
}
.intro__logo--scoter{
  filter: drop-shadow(0px 0px 5px #ffffff);
}
.text__logo{
  font-size: 2rem;
  color: white;
}
.text__logo--parts{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.text__logo--parts.active{
  bottom: -5px;
  opacity: 1;
  transition: ease-in-out 1s;
}

.text__logo--parts.fade{
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 1s;
}
::-webkit-scrollbar { /*oculta la barra de desplazamiento*/
  display: none;
}
/* final animacion  */



/* HEADER */

header,
.navbar,
.logo,
.texto-carrusel,
.texto1,
.iconos-prev-next {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  color: #ffffff;
  background-color: #000000;
  justify-content: space-evenly;
  padding: 3vh 0;
}

.titulo-logo {
  font-size: 2.5rem;
}

.img-logo {
  width: 35px;
  height: 35px;
}

.navbar {
  justify-content: space-between;
  width: 50vw;
}

.navbar > li {
  padding: 0 5px;
}

/* MAIN */

/* main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3vw;
} */

.home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3vw;
  background-image: linear-gradient(90deg, #7f00b2 0%, #bc4ed8 100%);
}

.texto-carrusel,
.img-carrusel {
  height: 400px;
  margin: 1.5vw;
}

.texto-carrusel {
  background-image: url("../img/bg-1.png");
  background-position: center;
  background-size: 600px 480px;
  background-repeat: no-repeat;
  color: #ffffff;

  /* flexbox */
  justify-content: center;
}

.texto1 {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 60%;
  width: 47%;
}

.texto1 h2 {
  font-size: 1.7rem;
}

.boton {
  color: #ffffff;
  text-decoration: none;
  padding: 6% 16%;
  border-radius: 25px;
  background-image: linear-gradient(90deg, #7f00b2 0%, #bc4ed8 100%);
}

.img-carrusel {
  border-radius: 20%;
  position: relative;
}

.img-carrusel img {
  height: 100%;
  border-radius: 20%;
}

.iconos-prev-next {
  width: 80%;
  justify-content: space-between;
  position: absolute;
  right: 10%;
  bottom: -5%;
  text-decoration: none;
}

.iconos-prev-next a {
  padding: 15px 20px;
}

.carousel-control-prev {
  color: #ffffff;
  text-decoration: none;
  background-color: #18181a;
}

.carousel-control-next {
  color: #18181a;
  background-color: #ffffff;
}

i {
  font-size: 20px;
}

.caracteristicas{
  display: flex;
  background-image: linear-gradient(90deg, #7f00b2 0%, #bc4ed8 100%); ;
}
.contactbg {
  width: 50%;
  background-image: url(../images/bg-2.png);
  background-position: center;
}
.caracteristicas__image{
  width: 50%;
}

/*start footer section*/
.footer{
  width: 100%;
  background-color: #1b004b;
  color: #ffffff;
  height: auto;
  border-top: 10px solid #ffffff;
  padding: 60px 32px;
}
.footer__section{    /*secciones del footer aplicar en mobile*/
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
  width: 100%;
}
.section__column{
  max-width: 25%;
  width: 300px;
  color: #ffffff;
}

.section__title{
  margin-bottom: 12px;
}

.map_text a{
  display: flex;
  gap: 3%;
  margin: 0 0 12px 0;
}



.social_icon ul{
  display: flex;
  gap: 4%;
}










/*end footer section*/
